/* styles/globals.css */

/* ===== Base colors ===== */
body {
  background-color: #0b0b12;
  color: #f1f1f1;
  font-family: "JetBrains Mono", monospace;
  margin: 0;
  padding: 0;
}

/* ===== Navbar tweaks ===== */
.nav-link {
  transition: color 0.9s ease;
}

.nav-link:hover {
  color: #f6e4ff !important;
}

.nav-link.active {
  color: #f6e4ff !important;
  border-bottom: 2px solid #f6e4ff;
}

.btn-outline-primary {
  border-width: 2px;
}

.bg-custom-dark {
  background-color: #06000d;
}